*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace ;
}
body{
    /* background: #C1F6ED; */
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    background-color: #f7f9fd;
}
.budgetContainer{
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}
.container{
    width: 100%;
}
.subcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.flex{
    display: flex;
    align-items: center;
}
.flexSpace{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.budgetContainer h3{
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}
.container input{
    display: block;
    width: 100%;
    padding: 0.6em;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}
.container{
    border-color: #449342;
}
.totalAmountContainer,
.userAmountContainer{
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.2em 0.8em rgba(26,0.6,0.04);
}
.outputContainer{
    background-color: #449342;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.2em 0.8em rgba(26,0.6,0.04);
    font-weight: 500;
    margin: 2em 0;
    padding: 1.2em;
}
.outputContainer p{
    font-weight: 500;
    margin-bottom: 0.6em;
}
.outputContainer span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}
.submit{
    font-size: 1em;
    margin-top: 0.6em;
    background-color: #449342; 
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}
.list{
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.2em 0.8em rgba(26,0.6,0.04);
    border-radius: 0.6em;
}
.hide{
    display: none;
}
.error{
    color: #ff465a;
}
.sublistContent{
    width: 100%;
    border-left: 0.3em solid #449342;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}
.product{
    font-weight: 500;
    margin-left: 1.5em;
    color:#363d55;
}
.amount{
    color: #414a67;
    margin-left: 20%;
}
.iconsContainer{
    width: 5em;
    margin: 1.2em;
    align-items: center;
}
.productTitle{
    margin-bottom:1em;
}
.edit{
    margin-left: auto;
}
.edit,.delete{
    background:transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #449342;
}
@media screen and (max-width:600px){
    .budgetContainer{
        font-size: 14px;
    }
    .subcontainer{
        grid-template-columns: 1fr;
    }
}
#landText{
    animation-name: flippy ;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes flippy {
    0%{
        transform:rotate(1deg);
    }
    50%{
        transform: rotate(3deg);
    }
    100%{
        transform:rotate(-1deg);
    }
}
.signUp{
    margin:auto; 
    margin-bottom:30px;
    width: 25rem;
    height: 70vh;
    border: 1px solid;
    border-radius: 50px 0px;
    box-shadow: 10px 10px rgba(4, 4, 4, 0.267);

    display: flex;
    align-items: center;
    justify-content: center;
}
 input{
    margin: 0.7rem;
    width: 23rem;
    height: 3rem;
 }
 #submit{
    /* border: none; */
    width: 45%;
    margin-top: 12px;
    margin-left: 6rem;
    background:transparent;
    border-radius:0px 20px ;
 }
 #submit:hover{
    background: #000;
    color: white;
    transition: 0.5s;
    transform: translateY(8px);
 }

 .why, .WHAT,.ABOUTLANDING{
    /* background: #b5a3a3; */
    display: flex;
    margin:20px;
    margin-left: 80px;
    padding: 9px;
}
#ftPic{
 margin:9px 100px ;
    width: 30rem;
   
 }
 .landheading{
    border: 2px solid;
    border-radius: 20px 0;
    width:500px;
    margin: 5px auto;

    text-align: center;
 }


 /* login page */
 
 #tinyText{
    font-size: 10px;
    text-align: center;
    font-style: italic;
    margin: 9px 20px 0px 0px;
 }
.header {
    position: relative;
    text-align: center;
    color: black;
}
#head1 {
    position: absolute;
    top: 14%;
    left: 55%;
    transform: translate(-50%, -50%);
}
#head2{
    margin: 2rem;
    font-size: 3rem;
    padding-left: 15%;
    padding-right: 15%;
}
#head3{
    font-size: 1.3rem;
    background-color: rgb(177, 207, 226);
    padding: 3rem;
}